body{
    font-size:16px;
    font-family: 'Space Grotesk', sans-serif;
}

.container{
    display:flex;
    height:100%;
    /* position:relative; */
}
.bigsquare{
    margin:auto;

}
.formcontainer{
    /* margin:auto; */
    width:400px;
    margin-left:90%;
    margin-top:350px;
    /* border:solid black; */
    height:400px;
}

.exp{
    display:block;
}
.field{
    display:block;
}
.smallsquare{
    position:absolute;
} 
.small{
    display:flex;
    position: relative;
}
.cards{
   width:400px; 
    z-index:9;
    margin:200px;
    margin-top:300px;;
    
    
}.card1{
    position:relative;
}
.logo{
    position:absolute;
    z-index:9;
    padding-top:15px;

}
.digits{
    position:absolute;
    z-index:9;
    margin-top:140px;
    margin-left:15%;
    font-size:24px;
    width:300px;

}
.name,.year{
    position:absolute;
    z-index:9;
    margin-top:190px;
}
#nameyear{
    display:flex;
}
.card2{
    position:relative;
}
.secure{
    position:absolute;
    z-index:15;
   
}


.card2{
    padding-left:90px;
    padding-top:25px;
}
.card1,.card2{
    width:400px;
}
.details{
    width:75%;
    margin-bottom:30px;
    padding:10px;
    font-size:18px;
    border-radius:10px;
}
.input{
    margin-bottom:10px;

}
.month, .year, .cvc{
    padding:10px;
    font-size:18px;
    border-radius:10px
}
.month,.year{
    width:50px;
}
.cvc{
    width:100px;
    margin-left:70px;
    
}
.last{
    display:flex;
    justify-content: space-between;
    
}
.cv{
    margin-right:200px;
}

button{
   /* margin-left:130px; */
   width:100%
   
   
}
.cantBeBlank{
    display:flex;
    justify-content: space-between;
}
/* thank you page */
